streamlit==1.26.0
torch==2.7.0
whisper==1.1.10
gTTS==2.3.2
numpy==1.26.0
soundfile==0.12.1
streamlit-webrtc==0.45.0
av==10.0.0
rich==14.1.0
markdown-it-py==4.0.0
pygments==2.19.2
mdurl==0.1.2
requests==2.31.0
